aside{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 

    img,
    .wrapper-aside{
        width: 60%;
    }

    img{
        margin-bottom: 100px;
    }

    .wrapper-aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        section{
            width: 100%;
            margin-bottom: 100px;
            h2,
            a,
            li{
                color: #FAFAFA;
            }



            h2{
                border-bottom: 2px #FAFAFA solid;
                margin: 0;
                font-size: 1.5rem;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
            
            ul{
                padding: 0;
                li{
                    list-style-type: none;
                    margin: 2px;
                    a{
                        text-decoration: none;
                        img{
                            width: 21px;
                            position: relative;
                            top: 5px;
                            margin: 0;
                        }
                    }
                }
            }

            .tools-ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                li{
                    list-style-type: none;
                    &::before{
                        content: '#';
                    }
                }
            }
        }
        .portfolio{
            ul{
                li{
                    margin-bottom: 7px;
                }
            }
        }
    }
}